<footer class="footer footer-center bg-base-200 text-base-content p-10">
    <a href="/" class="block">
        <div class="avatar">
            <div class="size-28 rounded">
                <img src="/static/logo.webp" alt="Cap Table Expert Logo" class="w-full h-full object-contain">
            </div>
        </div>
        <p class="font-bold text-lg text-base-content">Bob Gillespie</p>
        <p class="text-base-content/70">Cap Table Expert • Helping startups since 2012</p>
    </a>
    <div>
        <div class="grid grid-flow-col gap-4">
            <a href="/about" class="link link-hover text-base-content/70 hover:text-primary">What About Bob?</a>
            <a href="/insights" class="link link-hover text-base-content/70 hover:text-primary">Insights</a>
        </div>
    </div>
    <div>
        <p class="text-base-content/60">© 2012-present Bob Gillespie. All rights reserved.</p>
    </div>
</footer>